*{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
  color: rgb(74, 255, 8);
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExd244NjlsZTYzajE5N2t3bWV3dnQ1emtkbDgzcWtsbnZ6ZmpmN3pkNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IFrHkIglEOg8Ba/giphy.gif"); 
  background-position: center 25%; 
  background-size: cover; 
}

.h1 {
  color: whitesmoke;
  font-size: 35px !important;
}

.container { 
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    padding-top: 1%;
    align-items: center;
    align-content: center;
  }

.box2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    border: rgb(74, 255, 8) solid 2px;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    background-color: black;
    padding-top: 2%;
    opacity: 0.8;
}
